<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>chapter2</title>
        <script src="https://unpkg.com/vue@2.5.17"></script>
    </head>
    <body>
        <!-- <div id="app">
            <p>{{items[0].name}}</p>
        </div>

        <button id="b-button" v-bind:title="loggedInButton">購入</button>
        <button id="b-button2" v-bind:disabled="!canBuy">購入</button>

        2.7 フィルタ(filters)
        <div id="filters">
            <p>{{items[0].name}}: {{items[0].price}} × {{items[0].quantity}}</p>
            <p>フィルタ処理例 {{1000 | numberWithDelimiter}}</p>
        </div>

        2.8 算出プロパティ(computed)
        <div id="computed">
            べた塗りコード
            <p>合計: {{ items.reduce(function(sum, item) {return sum + (item.price * item.quantity), 0}) }}</p>
            <p>合計: {{totalPriceWithTax}}</p>
            <p>合計: {{totalPriceWithTax}}</p>
        </div> -->

        <div id="app">
            <!-- <p>{{items[0].name}}: {{items[0].price}} × {{items[0].quantity}}</p>

            {{a | b}} aにbというフィルターをかけて表示する

            <p>小計: {{ totalPrice | numberWithDelimiter}}円</p>
            <p>合計（税込）: {{ totalPriceWithTax | numberWithDelimiter }}</p> -->
        </div>

        <div id="app2">
            <ul>
                <li v-for="item in items2" :key="item.name">{{item.name}}の個数: <input type="number" v-model="item.quantity" min="0" /></li>
            </ul>
            <hr />
            <div :style="errorMessageStyle">
                <ul>
                    <li v-for="item in items2" :key="item.name">
                        {{item.name}}: {{item.price}} × {{item.quantity}} = {{item.price * item.quantity | numberWithDelimiter}}円
                    </li>
                </ul>
                <p>{{items2[0].name}}: {{items2[0].price}} × {{items2[0].quantity}}</p>
                <p>小計: {{totalPrice | numberWithDelimiter}}円</p>
                <p>合計（税込）: {{totalPriceWithTax | numberWithDelimiter}}</p>
                <p v-show="!canBuy">{{1000 | numberWithDelimiter}}円以上からご購入いただけます</p>

                <button :disabled="!canBuy" @click="doBuy">購入</button>
            </div>
        </div>

        <div id="lifeSycle">
            <p>{{count}}</p>
        </div>

        <script src="app.js"></script>
        <script src="2.9.js"></script>
        <script src="lifeSycle.js"></script>
    </body>
</html>
